body{
    margin:0;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width:400px;
}


input{
    width:100%;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    
}

button{
    background-color: #5f9341;
    color:white;
    border:1px solid #5f9341;
    padding:10px 20px;
    margin-top: 5px;
    cursor:pointer;
    font-weight: bold;
    
}
button:hover{
    background-color: #fff;
    color:#5f9341;
    
}

#delete-btn{
    background-color: #fff;
    color:#567a41;
}

#delete-btn:hover{
    background-color:#e8e8e8;
    color:#567a41;
}

ul{
    list-style:none ;
    padding-left:0;
   
    margin-top:20px;
}
li{
    margin-top:5px;
}

li a{
color:#567a41;
font-size:18px;
}